<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm ">
            <div class="card " style="width: 100%; ">
                <img src="/assets/img/promo1.png " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Bienvenidos a MAJI</h5>
                    <p class="card-text ">Somos un Jardín infantil diferente, con un proyecto único, enfocados en las experiencias y el juego como base de nuestro aprendizaje, ¡Queremos que sigan siendo niños, aprendan y sean grandes seres humanos! Conoce nuestro proyecto
                        pedagógico de </p>
                    <a href="# " class="btn colorGreen-100 ">Admosiones</a>
                </div>
            </div>
        </div>
        <div class="col-sm ">
            <div class="card " style="width: 100%; ">
                <img src="/assets/img/promo1.png " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="# " class="btn colorGreen ">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm ">
            <div class="card " style="width: 100%; ">
                <img src="/assets/img/promo1.png " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="# " class="btn colorGreen ">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>