<div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="https://es-la.facebook.com/mentesagiles/" target="_blank"><i class="bi bi-facebook" style="color: white; font-size: 25px; margin: 5px;"></i></a>
            <a href="https://www.instagram.com/jardinmentesagiles/?hl=es" target="_banck"><i class="bi bi-instagram" style="color: white; font-size: 25px; margin: 5px;"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=573192224488&Me%interesa%tus%productos" target="_banck"><i class="bi bi-whatsapp" style="color: white; font-size: 25px; margin: 5px;"></i></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right">
            <a [hidden]="auth.isAuthenticated$ | async" (click)="auth.loginWithPopup()">
                <i class="bi bi-door-open" style="color: white; font-size: 25px; margin: 5px;"></i>
            </a>
            <a *ngIf="auth.isAuthenticated$ | async" (click)="auth.logout()">
                <i class="bi bi-door-closed-fill" style="color: white; font-size: 25px; margin: 5px;"></i>
            </a>
        </div>
    </div>
</div>