<div class="jumbotron transparente">
    <div class="container ">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mochi-title "><strong>{{dataJumbo.jumbodos.title}}</strong></h1>
            </div>
            <br>
            <div class="row justify-content-center container">
                <p class="lead text-center" *ngFor="let p of dataJumbo.jumbodos.content">{{p}}</p>
            </div>
        </div>
    </div>
</div>
