.orange-whatsapp {
    background-color: var(--color-orange);
    border-radius: 2%;
    margin: 2px;
}

.green-whatsapp {
    background-color: rgb(0, 127, 37);
    border-radius: 2%;
    margin: 2px;
}

.blue-whatsapp {
    background-color: var(--color-one);
    border-radius: 2%;
    margin: 2px;
}

.red-whatsapp {
    background-color: var(--color-two);
    border-radius: 2%;
    margin: 2px;
}

a {
    width: 100%;
}