<div class="jumbotron colorgreenDark">
    <div class="container ">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center mochi-title "><strong>{{dataJumbo.title}}</strong></h1>
            </div>
            <div class="row justify-content-center">
                <p class="lead text-center" *ngFor="let p of dataJumbo.content">{{p}}</p>
            </div>
            <div class="row justify-content-center">
                <div class="card colorgreenDark sin-borde">
                    <img [src]="dataJumbo.imgjardin" class=" card-img-top " alt="... ">
                    <img [src]="dataJumbo.imgpagos" class=" card-img-top " alt="... ">
                    <!-- <img src="... " class="card-img-top " alt="... "> -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                    <a [href]="dataJumbo.link" target="_blank" class="btn"><strong>Ir a pagos en línea </strong> <i class="bi bi-lock-fill "></i></a>
                </div>
            </div>
        </div>
    </div>
</div>