//letra menu en blanco
#navbarSupportedContent ul li a {
    color: white;
}

nav {
    background-color: var(--color-one)
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background-color: var(--color-two);
}

.join-classes {
    background-color: var(--color-two);
    color: white;
    border-color: var(--color-two);
    margin: 2px;
}

.concatoWh {
    background-color: rgb(0, 127, 37);
    color: white;
    border-color: rgb(0, 127, 37);
    margin: 2px;
}

.nav-link {
    text-align: center;
}

.navbar {
    width: 100%;
}

.color-text {
    color: var(--color-one-dark);
}

.card-text {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

::ng-deep .color-black {
    color: black !important;
}