footer {
    background-color: var(--color-one);
    // position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.colorGreen {
    background-color: var(--color-one);
}

.sin-borde {
    border-style: none;
}

a {
    color: white;
}

.footer-copyright {
    color: white;
}