<!-- Footer -->
<footer class="mt-2">

    <div class="row text-center">
        <div class="col-sm-4" *ngFor="let sede of dataFooter">
            <div class="card text-white colorGreen sin-borde">
                <div class="card-body ">
                    <h3 class="card-title mochi-title "><strong>{{sede.title}}</strong></h3>
                    <p class="card-text ">320 839 0537 – 312 573 7186</p>
                    <p class="card-text "> mentesagiles@gmail.com</p>
                    <p class="card-text "> {{sede.addrees}}</p>
                    <p class="card-text "> Atención: 8AM – 5PM</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 ">© 2021 Copyright: MentesAgiles - Developed by
        <a href="https://diegoabeltran.com/ " target="_blank "> diegoabeltran.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
